// Admin editing
@import spina/application
@import spina_front_end
@import spina/configuration
@import spina/fonts
@import spina/ics_spina

$shadow_colour: $primary-color
$shadow: 0 0 8px 0px rgba(#000, .5)
$font-family: 'Molde', Helvetica, Arial, sans-serif
$padding: 7vw

@import fonts

#admin_bar
  position: relative
  z-index: 2
.spina-link, #admin_bar
  font-family: $font-family

html
  & :first-child
    margin-top: unset
  height: 100%
  a
    color: unset
    &.button
      text-decoration: unset
  body
    height: 100%
    display: flex
    flex-direction: column
    overflow: scroll
    .content
      flex:
        grow: 1
        wrap: wrap
      display: flex
      font-family: $font-family
      @import sidebar
      @import main
      @import transitions

.icon
  vertical-align: text-bottom
