article
  &:not(:first-child)
    margin-top: -1px
  a
    border:
      top: 1px solid #ccc
      bottom: 1px solid #ccc
    display: block
    padding: 24px 80px
    margin: 0 -80px
    position: relative
    overflow: auto
    figure
      float: right
      margin: 0
    h2
      font-weight: 600
      font-size: 180%
    figure:first-child + *
      margin-top: 0
    & :first-child
      margin-top: 0
    & *
      color: black
    &:hover
      border-color: $primary-color
      color: $primary-color
      z-index: 1
      & *
        color: $primary-color
article.no-link
  border:
    top: 1px solid #ccc
    bottom: 1px solid #ccc
  display: block
  padding: 24px 80px
  margin: 0 -80px
  position: relative
  overflow: auto
  &:not(:first-child)
    margin-top: -1px
  figure
    float: right
    margin: 0
  h2
    font-weight: 600
    font-size: 180%
  figure:first-child + *
    margin-top: 0
  & :first-child
    margin-top: 0
  & *
    color: black
