nav
  ol
    list-style: none
    padding: unset
    font:
      size: 20px
      weight: 300
    li
      display: inline-block
      box-sizing: border-box
    .divider
      background: url(asset-path('spina/divider.svg'))
      color: $primary-color
      display: inline-block
      height: 17px
      margin: 0 16px
      width: 6px
