nav
  ol
    margin: -10px -8px
    display: flex
    flex-flow: wrap
    align-items: center
    list-style: none
    padding: unset
    font:
      size: 20px
      weight: 300
    li
      box-sizing: border-box
      margin: 10px 8px

    .divider
      background: url(asset-path('spina/divider.svg'))
      color: $primary-color
      display: inline-block
      height: 17px
      margin: 0 8px
      width: 6px
