main
  @import article
  @import summary
  @import figure
  @import button
  @import slideshow
  @import breadcrumbs
  @import alert
  @import lists
  @import hero
  @import header
  flex:
    basis: 50%
    grow: 3
    shrink: 0
  padding: $padding
  @include grid_rows
  overflow: scroll
  hyphens: auto
  -webkit-hyphens: auto
  -moz-hyphens: auto
  -ms-hyphens: auto
