& > div:first-child
  @import summary
  $padding: 80px
  flex:
    basis: 180px
    grow: 1
    shrink: 1
  overflow: scroll
  padding: $padding
  box-shadow: $shadow
  header
    display: grid
    grid:
      template-rows: min-content
      auto-rows: min-content
      row-gap: 16px
    z-index: 1
    position: relative
    & :first-child
      grid-row: 1
    a img.logo
      max-width: 180px
    address
      grid-row: 2
      font:
        style: normal
        weight: 300
    details
      grid-row: 3
      summary
        font:
          weight: 700
          size: 20px
        outline: none
      nav
        margin-top: 16px
        @import nav
  footer
    grid-row: 4
    font-weight: 200
    color: #ccc
    & > *
      margin-top: 1em
      &:not(:last-child)
        margin-bottom: 1em
    nav ul
      list-style: none
      padding-left: unset
    small
      display: block
    details
      summary
        font-size: large
      summary:focus
        outline: unset
      ul
        list-style: none
        padding-left: unset
        li:not(:first-child)
          margin-top: 1em
