- content_for(:header) do
  = render "#{current_theme.name}/shared/title"

= link_to conferences_conferences_url(protocol: :webcal, format: :ics), class: :button do
  Subscribe to conferences calendar

%section
  = render Spina::Conferences::Conference.sorted || 'empty_list'
