- return render 'shared/empty_list', name: "#{presentation_type.name} presentation" unless presentation_type.presentations.any?
= render presentation_type.presentations || "#{current_theme.name}/shared/empty_list", cached: true
