- return render "#{current_theme.name}/shared/empty_list" unless presentation_type.presentations.any?
= render presentation_type.presentations || "#{current_theme.name}/shared/empty_list", cached: true
