- return render "#{current_theme.name}/shared/empty_list" unless structure.page_part
- if local_assigns[:box]
  .Box
    .Box-header
      %h3.Box-title= structure.page_part.title
    %ul
      - structure.structure_items.sorted_by_structure.each do |structure_item|
        = render structure_item, box: true, list_item_class: local_assigns[:list_item_class]
- else
  %ul{ class: local_assigns[:list_class] }
    - structure.structure_items.sorted_by_structure.each do |structure_item|
      = render structure_item, box: false, list_item_class: local_assigns[:list_item_class]
