:ruby
  cal.event do |e|
    e.dtstart = presentation.start_datetime
    e.dtend = presentation.start_datetime + presentation.presentation_type.duration
    e.url = spina.page_url id: presentation.conference_page.materialized_path.delete_prefix('/')
    e.location = presentation.room_use.room_name
    presentation.presenters.each do |presenter|
      e.contact = presenter.full_name_and_institution
      e.categories = presentation.class.name.demodulize.upcase
      e.summary = presentation.name
      e.description = strip_tags(presentation.abstract)
    end
  end
