.tabnav
  = content_for :tabnav_buttons
  %nav.tabnav-tabs{ aria: { label: '' } }
    .UnderlineNav-body
      - collection.each do |item|
        %button{ title: item.send(method), class: 'tabnav-tab', target: '_self', data: { target: 'itemnav.item', action: 'itemnav#select' } }= item.send(method)
