%div{ data: { controller: 'itemnav', 'itemnav': { 'selected-item': '0' } } }
  = render 'shared/tabnav/tabnav', collection: collection, method: method do
    = yield
  = render 'shared/tabnav/item_content', collection: collection, &method(:render)
