.tabnav
  %nav.tabnav-tabs{ aria: { label: '' } }
    .UnderlineNav-body
      - collection.each do |item|
        = link_to item.send(method), "##{item.send(method).parameterize}", title: item.send(method), class: [('selected' if collection.first == item), 'tabnav-tab'], target: '_self', data: { target: 'tabnav.tab' }
