.gallery
  box-shadow: 0 0 0 1px #eeeeee
  border-radius: 4px
  background: black
  overflow: hidden
[data-controller='slideshow']
  position: relative
  [data-target='slideshow.slide']
    display: none
    object-fit: cover
  .controls
    position: absolute
    display: flex
    justify-content: space-between
    align-items: center
    left: 0
    right: 0
    top: 0
    bottom: 0
    button
      opacity: 0
      flex-grow: 0
      height: 40px
      width: 40px
      margin: 0 8pt
      padding: 8px
      border:
        radius: 35px
        style: unset
      box-shadow: 0 0 6px 2px #444444
      background: #2e2f30
      color: #eeeeee
      &:hover
        opacity: 1
        box-shadow: 0 0 6px 2px rgba($shadow_colour, .2)
  &:hover button
    opacity: 0.8
